/* Importedfrom google fonts. font-family: 'Montserrat', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* === ROOT VARIABLES === */

:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-light-gray: #c0b8b8;
  --color-dark: #525252;
  --color-black: #09090a;
  --color-primary: #2a2a72;
  --color-primary-2: #009ffd;

  --color-primary-light: rgba(242, 78, 28, 0.12);
  --color-sucess: #29f5a6;
  --color-warning: #ffce31;

  ---transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
  line-height: 1.2;
}

h1 {
  font-size: 3.8rem;
}

h1:hover {
  color: var(--color-primary-2);
  transition: var(---transition);
}

h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 1.6rem;
}
h3:hover {
  color: #009ffd;
  transition: var(---transition);
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 0.86rem;
}

p {
  line-height: 1.8;
}

.container {
  margin: 0 auto;
}

section {
  padding: 10rem 0 7rem;
  max-width: 250vh;
  /*max-width: 150vh; */
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  color: var(--color-black);
  background: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  transition: var(---transition);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 100px;
}

.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
/* === NAVNAR === */

nav {
  width: 100%;
  height: 5rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
}

nav button {
  display: none;
}

nav h3 {
  color: var(--color-primary);
}

nav .container ul {
  display: flex;
  height: 100%;
}

nav .container ul li a {
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-gray);
  position: relative;
  transition: var(---transition);
}

nav .container ul li a:hover {
  color: var(--color-primary);
  font-size: 1.1rem;
}

nav .container ul li a.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* === LANDING SECTION === */

section.landing {
  display: grid;
  place-items: center;
  position: relative;
  top: 5rem;
  padding-bottom: 14rem;
}

section.landing .container {
  display: grid;
  grid-template-columns: 6rem auto 28rem;
  gap: 2rem;
}

section.landing .socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

section.landing .socials a {
  font-size: 1.1rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(---transition);
  margin-left: 2rem;
}

section.landing .socials a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
}

section.landing .info h1 {
  text-align: left;
  margin: 0;
}

section.landing h3 {
  margin: 2.4rem 0 1rem;
}

section.landing .info p {
  width: 35rem;
}

section.landing .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .profile-area .outer-circle {
  width: 24rem;
  height: 24rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  position: relative;
  animation: move 40s linear;
}

@keyframes move {
  to {
    transform: rotate(360deg);
  }
}

section.landing .profile-area .outer-circle span {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  background: var(--color-white);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem var(--color-primary-light);
}

section.landing .profile-area .outer-circle span:nth-child(1) {
  left: calc(50% - 2rem);
  top: -2rem;
}

section.landing .profile-area .outer-circle span:nth-child(2) {
  right: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(3) {
  left: -2rem;
  top: calc(50% - 2rem);
}

section.landing .profile-area .outer-circle span:nth-child(4) {
  bottom: -2rem;
  left: calc(50% - 2rem);
}

section.landing .profile-area .inner-circle {
  position: absolute;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  overflow: hidden;
}

/* === ABOUT SECTION === */

section.about {
  background: var(--color-light);
  margin: 10%;
}

section.about .container {
  display: grid;
  grid-template-columns: 26rem auto;
  gap: 5rem;
}

section.about img {
  border-radius: 0.4rem;
  margin-left: 1rem;
}

section.about p {
  margin: 1rem;
}

section.about .container .read-more-content {
  display: none;
}

section.about .container .read-more {
  display: block;
  margin: 1rem 0 2 rem;
  color: var(--color-primary);
  cursor: pointer;
}

section.about .container .read-more:hover {
  text-decoration: underline;
}

/* === SKILLS SECTION === */

section.skills .container {
  width: 50%;
}

section.skills .skill {
  margin-bottom: 1rem;
}

section.skills .skill .head {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 5px;
}

section.skills .skill .head h4 {
  color: var(--color-white);
}

section.skills .skill .head .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.skills .skill .item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding: 1.6rem;
  background: var(--color-light);
  margin-bottom: 0.3rem;
  transition: var(---transition);
  border-radius: 5px;
}

section.skills .skill .item:hover {
  background: var(--color-white);
}

/* === SERVICES === */

section.services {
  background: var(--color-light);
}

section.services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

section.services .container .service {
  background: var(--color-white);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

/* === PORTFOLIO=== */

section.recent-work h1 {
  text-align: center;
  margin: 3rem 0 1rem;
  width: 65%;
  margin: 5rem;
}

section.recent-work .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 3rem;
}

section.recent-work .projects .project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.recent-work .projects .project .action {
  display: flex;
  gap: 2rem;
}

section.recent-work .projects .project .action a {
  color: var(--color-primary);
}

section.recent-work .projects .project .action a:hover {
  text-decoration: underline;
}

section.recent-work .projects .project .thumbnail img {
  width: 800px;
  height: 600px;
}
